{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_boostwarwick/navbar }}

    <div id="page" class="container-fluid">

        {{{ output.full_header }}}

        <div id="page-content" class="row pb-3">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>

                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}

                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="d-print-none">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{> theme_boost/nav-drawer }}
    {{> theme_boostwarwick/footer }}
</div>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
require(['core/first'], function() {
    require(['jquery'],
    function($, bootstrap) {
        $(document).ready(function(){

            const params = new URL(location.href).searchParams;
            const add = params.get('add');
            const update = params.get('update')

            bodyelement = document.body;

            // Only if this is an assignment new/edit page...
            if (bodyelement.id === "page-mod-assign-mod") {

                // If due date is not 12:00, display a message...
                deadlinemessage = "<div class=\"alert alert-info \" role=\"alert\">" +
                    "<i class=\"fa fa-info-circle\" aria-hidden=\"true\"></i> " +
                    "University regulation 36.3 stipulates that students are required to submit all assessed work by 12 noon on a University working day. " +
                    "<small><a href=\"#\" id=\"show-assignment-duedate-times\">Click here to edit submission time</a></small>" +
                    "</div>";
                $(deadlinemessage).insertBefore("#fitem_id_duedate");

                // Is this new assignment or update?
                if (add === "assign")
                {
                    // New assignment, set to 12:00...
                    $("#id_duedate_hour").val('12');
                    $("#id_duedate_minute").val('0');
                    // ...and hide time options
                    $("#id_duedate_hour").parent().parent().hide();
                    $("#id_duedate_minute").parent().parent().hide();

                }
                else if (update == 6) {

                    // If deadline is already 12pm, then hide time options...
                    if( $("#id_duedate_hour").val() == "12" && $("#id_duedate_minute").val() == "0" ) {
                        $("#id_duedate_hour").parent().parent().hide();
                        $("#id_duedate_minute").parent().parent().hide();
                    } else {
                        // Override in effect, so hide the override message
                        $("#show-assignment-duedate-times").hide();
                    }
                }

                // Handle a user clicking the override option
                $( "#show-assignment-duedate-times" ).click(function() {
                    $("#id_duedate_hour").parent().parent().show();
                    $("#id_duedate_minute").parent().parent().show();

                    // Hide the override message too...
                    $("#show-assignment-duedate-times").hide();
                });


            }



        });
    });
});
{{/js}}
