{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper" class="frontpage">



    <div id="page" class="container-fluid">
             <div class="frontpage-card frontpage-card-container">
                <img id="frontpage-warwick-img" class="frontpage-warwick-img-card" src="/theme/boostwarwick/pix/warwick-logo-title-only.svg">
                <img id="frontpage-moodle-img" class="frontpage-moodle-img-card" src="/theme/boostwarwick/pix/moodle-logo-rgb.svg">
                <div class="frontpage-card-text">
                    {{# str }} frontpagecardtext, theme_boostwarwick {{/ str }}
                </div>
                <a class="btn btn-lg btn-primary btn-block btn-signin" href="{{{ loginbuttonlink }}}">{{{ loginbuttontext }}}</a>
            </div>

            <div id="page-content" class="row pb-3">
                <div id="region-main-box" class="col-12">
                {{{ output.main_content }}}
            </div>
        </div>
    </div>



</div>

</body>
</html>
