{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper" class="frontpage">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid">
             <div class="frontpage-card frontpage-card-container">
                <img id="frontpage-warwick-img" class="frontpage-warwick-img-card" src="/theme/boostwarwick/pix/warwick-logo-title-only.svg">
                <img id="frontpage-moodle-img" class="frontpage-moodle-img-card" src="/theme/boostwarwick/pix/moodle-logo-rgb.svg">
                <div class="frontpage-card-text">
                Moodle is the on-line teaching and learning platform for the University of Warwick.
                </div>
                <a class="btn btn-lg btn-primary btn-block btn-signin" href="/login/index.php">Sign in</a>
            </div>

            <div id="page-content" class="row pb-3">
                <div id="region-main-box" class="col-12">
                {{{ output.main_content }}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}


</div>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
