{{!
    Page navbar.
}}


<nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex" aria-label="{{#str}}sitemenubar, admin{{/str}}">

    <div class="id7-header">

        <div class="id7-utility-bar">

            <div class="id7-logo">

            </div>

            <div class="id7-utility-links pull-right">
                Blah
            </div>

        </div>

        <div class="id7-masthead">

            <div class="id7-logo-below">

            </div>


        </div>

    </div>

</nav>

